<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <img src="assets/profile.jpg" class="img-fluid rounded-circle" alt="Mace Gibson">
    </div>
    <div class="col-md-8">
      <h2>Mace Gibson</h2>
      <p>Full-Stack Java Developer Bootcamp Graduate | USMC Veteran</p>

      <p><strong>From Military Leadership to Tech Innovation:</strong></p>
      <p>Earning the Navy Marine Corps Achievement Medal in the USMC for data storage modernization laid my foundation in adaptability and problem-solving. Transitioning into tech, my B.S. in Information Technology and Elavon experience honed my skills in marrying technical solutions with customer needs, highlighting my unique journey from military precision to customer service to software development.</p>

      <p><strong>Unique Perspective: Customer Service to Tech Development:</strong></p>
      <p>My tenure at Elavon, utilizing customer service insights to bridge the tech-client divide, emphasized time and cost efficiencies and led me to the joy of problem-solving in software development. Initiating a software security department, I crafted solutions that prioritized technological robustness and seamless process adaptation.</p>

      <p><strong>Software Developer Journey:</strong></p>
      <p>Skill Distillery expanded my horizons, grounding me in Agile methodologies, full-stack application development, and the essence of team collaboration. A highlight was leading a week-long sprint to develop an application that solved a real-world problem, teaching me invaluable lessons in teamwork and Agile development. Currently, I seek opportunities in software development or QA, eager to bring my collaborative spirit and technical skills to new challenges.</p>

      <p><strong>Comprehensive Tech Toolkit:</strong></p>
      <ul>
        <li><strong>Languages:</strong> Java, JavaScript, TypeScript</li>
        <li><strong>Web Development:</strong> Angular, HTML, CSS, Bootstrap</li>
        <li><strong>Database Management & APIs:</strong> SQL, Spring Data, REST</li>
        <li><strong>Frameworks & Methodologies:</strong> Spring, Spring Boot, Agile, Scrum, TDD</li>
        <li><strong>Tools:</strong> Git version control</li>
      </ul>

<p><strong>Life Beyond Code:</strong></p>
<p>The way I recharge my creativity is by getting outside with my dog going for a walk, doing some yard work, working out at home, watching YouTube videos about everything, and going on trips with my wife.</p>


      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Key Projects</a>
          <ng-template ngbNavContent>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of projects">
                  <td><img [src]="project.thumbnail" class="img-thumbnail project-thumbnail" alt="{{ project.title }}"></td>
                  <td><a href="{{ project.url }}">{{ project.title }}</a></td>
                  <td>{{ project.description }}</td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </li>

        <li [ngbNavItem]="2">
          <a ngbNavLink>Experience</a>
          <ng-template ngbNavContent>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Role</th>
                  <th scope="col">Place</th>
                  <th scope="col">Time</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let experience of experiences">
                  <td><img [src]="experience.thumbnail" class="img-thumbnail " alt="{{ experience.place }}"></td>
                  <td>{{ experience.role }}</td>
                  <td>{{ experience.place }}</td>
                  <td>{{ experience.date }}</td>
                  <td>{{ experience.description }}</td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </li>

        <li [ngbNavItem]="3">
          <a ngbNavLink>Education</a>
          <ng-template ngbNavContent>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Degree</th>
                  <th scope="col">Institution</th>
                  <th scope="col">Time</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let education of educations">
                  <td><img [src]="education.thumbnail" class="img-thumbnail " alt="{{ education.institution }}"></td>
                  <td>{{ education.degree }}</td>
                  <td>{{ education.institution }}</td>
                  <td>{{ education.date }}</td>
                  <td>{{ education.description }}</td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </li>

      </ul>
      <div [ngbNavOutlet]="nav" class="mt-3"></div>
    </div>
  </div>
</div>
